/* Reset de márgenes y padding */
body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #333; /* Cambié el color del texto a un gris oscuro */
    background-color: #66cc99; /* Cambié el color de fondo a verde */
    line-height: 1.6;
}

/* Estilos del encabezado */
header {
    background-color: #008000; /* Cambié el color del encabezado a verde oscuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em; /* Aumenté el tamaño del encabezado principal */
}

/* Estilos del contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Cambié el color de fondo del contenido a un gris más claro */
    text-align: center;
    border-radius: 10px; /* Agregué bordes redondeados */
}

.profile-image {
    text-align: center;
}

.profile-image img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 10px;
}

.pdf-link .read-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009933; /* Cambié el color del botón a verde */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pdf-link .read-button:hover {
    background-color: #007722; /* Cambié el color de resaltado del botón */
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #008000; /* Cambié el color del pie de página a verde oscuro */
    color: white;
}
